
body {
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: rgb(0, 0, 167);
    height: 100dvh;
    color: white;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}


.navtop {
    box-sizing: border-box;
    justify-self: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    position: fixed;
    z-index: 100;
    transition: box-shadow 0.3s ease, height 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    justify-content: space-between;
    background-color:rgb(243, 190, 0);
    font-weight: bold;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4); 
}

.navtop:hover {
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
    height: 80px;
    background-color: rgb(255, 178, 76);
}

.navtop a {
    margin-right: 5dvw;
    margin-left: 5dvw;
    color: rgb(38, 0, 100);
    text-decoration: none;
    font-size: 3vw;
    transition: padding 0.3s ease, border 0.3s ease, color 0.3s ease, transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.navtop a:hover {
    color: rgb(0, 3, 37);
    transform: scale(1.05);
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(0, 0, 73);
}



.back1 {
    position: relative;
    min-width: 100vw;
    height: auto;
    justify-self: center;
    min-height: 100dvh;
    overflow: hidden;
    margin-top: 60px;
    align-self: start;
    border-bottom: 3px solid rgb(0, 0, 26);
}

.back1::before {
    content: "";
    position: absolute;
    display: block;
    background-position: top;
    background-image: url(img1welcome.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    min-width: 100vw;
    cursor: pointer;
    transition: filter 0.5s ease;
}

.back1 h1 {
    position: relative;
    color: white;
    margin-top: 40px;
    text-align: center;
    padding: 250px 20px 0 20px;
    font-size: 50px;
    font-weight: bold;
    filter: brightness(1);
}

.text h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    padding: 0 10px;
}

.text p {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 40px 0;
    padding: 20px 40px;
    line-height: 1.2;
}





/* INTRO PAGE */





.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
}

.box {
    margin-left: auto;
    margin-right: -50px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: right;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateX(-5px);
}

.box p:hover {
    transform: translateY(-5px);
}

.box h1:hover {
    transform: translateY(5px);
}

.box h1, .box p {
    display: inline-block;
    background-color: rgb(243, 190, 0);
    color: rgb(38, 0, 100);
    border: 3px solid rgb(0, 0, 26);
    border-radius: 10px;
    padding: 20px 40px;
    width: auto;
    margin: 0;
    text-align: end;
    transition: transform 0.3s ease;
}

.box h1 {
    transform: translateY(10px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
    border: 1px solid rgb(0, 0, 26);
    border-radius: 5px;
    background-color: rgb(243, 190, 0);
    color: rgb(38, 0, 100);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

table:hover {
    transform: scale(1.02);
}

table th, table td {
    border: 1px solid rgb(0, 0, 26);
    padding:  5 10px;
    text-align: center;
    font-size: 18px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px 25px;
    max-height: 500dvh;
    margin-left: auto;
    margin-right: auto;
}

.boxes .photo {
    flex: 1 1 350px;
    max-width: 400px;
    min-width: 350px;
    max-height: 500px;
    padding: 10px;
    background-color: rgb(25, 39, 236);
    border-radius: 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.boxes .photo img {
    display: flex;
    width: 100%;
    height: 60%;
    object-position: center top;
    object-fit: cover;
    border-radius: 20px;
}


.boxes .photo:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.photo#joshua img {
    object-position: 50% 30%;
}

.photo#jensen img {
    object-position: 50% 70%;
}

.photo#othniel img {
    object-position: 50% 60%;
}

.photo#nathan img {
    object-position: 50% 10%;
}




/* MAIN PAGE */






.title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

p, marquee{
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
}

marquee {
    font-size: 40px;
    font-weight: bold;
    color: rgb(243, 190, 0);
}

ol {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 15px;
    background-color: rgb(29, 10, 71);
    padding: 30px 40px;
    border-radius: 20px;
    line-height: 1.55;
}

.vid {
    text-align: center;
    margin-bottom: 100px;
    max-width: 100dvw;
}

.vid video {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    width: 80dvw;
    height: auto;
    border-radius: 20px;
    padding: 5px;
    border: 5px solid rgb(243, 190, 0);
}

.vid video:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}










/* FOOTER */








.foot {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: rgb(243, 190, 0);
    color: rgb(38, 0, 100);
    font-size: 14px;
    text-align: flex-start;
    padding: 20px 40px;
    width: 100%;
    border-top: 3px solid rgb(0, 0, 26);
    transform: none;
    transform: translateX(-30px);
}
















@media (min-width: 700px) {
    .navtop a {
        font-size: 1.8vw;
    }

    .navtop a:hover {
        border-bottom: 3px solid rgb(0, 0, 73);
    }

    .back1 h1 {
        font-size: 60px;
        padding: 200px 10px 0 10px;
    }

    .wrapper {
        flex-direction: row;
        gap: 40px;
        text-align: right;
        align-items: center;
        max-width: 90%;
    }

    .box {
        text-align: right;
        margin-right: 0px;
        margin-left: auto;
        max-width: 50vw;
    }

    .box h1, .box h1:hover {
        transform: translate(-80px, 10px);
        z-index: 10;
        transition: transform 0.5s ease;
    }

    .box p {
        z-index: 20;
        box-shadow: 0 5px 15px rgba(24, 16, 2, 1);
        transform: translateX(-0px);
    }

    .box h1:hover {
        transform: scale(1.05);
        transform: translate(-50px, 10px);
    }

    .photo {
        max-width: 40vw;
        max-height: 40vw;
        flex: 1 1 30%;
        max-width: 30dvw;
    }

    .boxes {
        gap: 40px;
        padding: 20px 25px;
        column-gap: px;
        max-height: 200dvh;
    }
}

/* CREDITS: GOOGLE FONTS, W3 SCHOOLS, INSTAGRAM, YOUTUBE */
