
body {
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: rgb(0, 0, 167);
    height: 100dvh;
    color: white;
    font-family: "Montserrat", sans-serif;
}


.navtop {
    box-sizing: border-box;
    justify-self: center;
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    position: fixed;
    z-index: 100;
    transition: height 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    padding: 0 5vw;
    justify-content: space-between;
    background-color:rgb(243, 190, 0);
    font-weight: bold; 
}

.navtop:hover {
    height: 80px;
    background-color: rgb(255, 178, 76);
}

.navtop a {
    margin-right: 5dvw;
    margin-left: 5dvw;
    color: rgb(38, 0, 100);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.navtop a:hover {
    color: rgb(0, 3, 37);
    transform: scale(1.05);
}

.back1 {
    position: relative;
    min-width: 100vw;
    height: auto;
    justify-self: center;
    min-height: 100dvh;
    overflow: hidden;
    margin-top: 60px;
    align-self: start;
    border-bottom: 3px solid rgb(0, 0, 26);
}

.back1::before {
    content: "";
    position: absolute;
    display: block;
    background-position: center;
    background-image: url(img1welcome.jfif);
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100vw;
    cursor: pointer;
    transition: filter 0.5s ease;
}

.back1:hover::before {
    filter: brightness(0.4);
}

.back1 h1 {
    position: relative;
    color: white;
    text-align: center;
    padding: 250px 20px 0 20px;
    font-size: 50px;
    font-weight: bold;
    filter: brightness(1);
}
